<button *ngIf="content" class="btn border w-100 my-1" [style.background-color]="'#fff'" (click)="selected.emit(content.monthly)">

    <div class="d-flex w-100 p-0">
        <div class="col-10 text-start p-0">
            <div> {{ content.title }} </div>
            <div *ngIf="content.subTitle" class="sub-title">
                <span class="fw-light" > {{ content.subTitle.name }}: </span>
                <span class="fw-light"> {{ content.subTitle.value  | currency:'BRL':'symbol'}} </span>
            </div>
        </div>
        <div class="col-2 h-100 text-end p-0 content-icon">
            <mat-icon [style.color]="'grey'">arrow_forward_ios</mat-icon>
        </div>
    </div>
</button>