<div class="cards-products">
    <h4>
        {{products?.marca}}
    </h4>
    <div class="content-products">
        <div class="card" style="width: 18rem;" *ngFor="let product of products.produtos">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>